<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id        = "com.doersguild.simplecordovapluginsexample"
version   = "1.0.0">

    <name>Simple Phonegap/Cordova Plugins Example</name>
    <description>Simple Phonegap/Cordova Plugins Example</description>

    <preference name='phonegap-version' value='cli-7.0.1' />
    <preference name='pgb-builder-version' value='2' />
    
    <access origin="*" subdomains="true" />
    
    <author href="http://www.doersguild.com" email="sathvik@doersguild.com"> Doers' Guild  </author>

    <plugin name="cordova-plugin-geolocation" spec="~4.0.0" />

</widget>
